{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<div id="container">

  <div id="header">
    <header>
      <a href="/">Home</a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="/about/">About</a>
    </header>
    
    <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <link rel="icon" type="image/ico" href="{{ STATIC_URL }}images/favicon.ico" />
    <title>{% block title %}Is my cat cute?{% endblock %}</title>
    </head>
  </div>

  <div id="body">
    <body>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </body>
  </div>

  <div id="footer">
    <footer>
      <p>Created by: Mary Stufflebeam</p>
    </footer>
  </div>

</div>
</html>